<h1>Produtos</h1>
<div class="products">
    {{#each produtos}}
        <div class="product">
            <img src="{{this.imagem}}" alt="{{this.name}}">
            <h3>{{this.nome}}</h3>
            <p>R${{this.preco}}</p>
            <p>{{this.descricao}}</p>
            <div class="action">
                <a href="/produtos/{{this._id}}">Detalhes</a>
                <a href="/edit/{{this._id}}">Editar</a>
            </div>
        </div>
    {{/each}}
</div>